# эти файлы и папки ESLint будет игнорировать

node_modules/          # Зависимости проекта
dist/                  # Собранные файлы
coverage/              # Отчеты о покрытии тестами
*.min.js               # Минифицированные файлы
webpack.config.js      # Конфиг Webpack (у него свой синтаксис)